/* Box sizing */
@mixin add-arrow($color: $color-primary) {
    &:hover {
        &:after {
            margin-left: 5px;

            @include transition(0.3s, ease-in-out);
        }
    }

    &:after {
        content: "\f054";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: $color;
        margin-left: 10px;

        @include transition(0.3s, ease-in-out);
    }
}

@mixin add-arrow-left($color: $color-primary) {
    &:hover {
        &:before {
            margin-right: 5px;

            @include transition(0.3s, ease-in-out);
        }
    }

    &:before {
        content: "\f053";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: $color;
        margin-right: 10px;

        @include transition(0.3s, ease-in-out);
    }
}

@mixin position-absolute-full($width: 100%, $height: 100%) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: $width;
    height: $height;
}

@mixin add-play($color: $color-primary) {
    &:hover {
        &:after {
            margin-left: 5px;
            @include transition(0.3s, ease-in-out);
        }
    }

    &:after {
        content: "\f04b";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 1.5em;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: $color;
        margin-left: 10px;

        @include transition(0.3s, ease-in-out);
    }
}

@mixin add-arrow-pagination-after {
    &:hover {
        &:after {
            margin-left: 5px;

            @include transition(0.3s, ease-in-out);
        }
    }

    &:after {
        content: "\f054";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 0.7em;
        font-weight: $font-weight-regular;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: $white;
        margin-left: 10px;

        @include transition(0.3s, ease-in-out);
    }
}

@mixin add-arrow-pagination-before {
    &:hover {
        &:before {
            margin-right: 5px;

            @include transition(0.3s, ease-in-out);
        }
    }

    &:before {
        content: "\f053";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 0.7em;
        font-weight: $font-weight-regular;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: $white;
        margin-right: 10px;

        @include transition(0.3s, ease-in-out);
    }
}

@mixin add-box-shadow() {
    border: 1px solid $color-border-blocks;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    -khtml-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
}

@mixin masonry($columns, $gutter-size) {
    $column-width: 100% / $columns - $gutter-size !global;
    $gutter: (100 - ($columns * $column-width)) / ($columns - 1) !global;

    .c-masonry {
        margin: $gutter 0;

        .grid-sizer {
            width: $column-width;
        }

        .gutter-sizer {
            width: $gutter;
        }

        .c-masonry__item {
            width: $column-width;
            //margin-bottom: $gutter;
        }
    }
}

@mixin add-shadow-scroll($width: 40px, $first-color: transparent, $second-color: rgba($concrete, 1)) {
    &:after,
    &:before {
        border-bottom-right-radius: 8px;
        height: 100%;
        position: absolute;
        pointer-events: none;
        top: 0;
        width: $width;
        z-index: 2;
        content: '';

        @include opacity(1);
        @include transition(0.3s, ease-in-out);
    }

    &:after {
        right: 0;

        @include gradient-horizontal($first-color, $second-color);
    }

    &:before {
        left: 0;

        @include gradient-horizontal($second-color, $first-color);
    }

    &.start:before {
        @include opacity(0);
        @include transition(0.3s, ease-in-out);
    }

    &.end:after {
        @include opacity(0);
        @include transition(0.3s, ease-in-out);
    }

    body.contrast &:after,
    body.contrast &:before {
        display: none;
    }
}

@mixin parallax-container($perspective: 1px) {
    @media screen and (min-width: 40em) {
        @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
            perspective: $perspective;
            overflow-x: hidden;
            overflow-y: hidden;
        }
    }
}

@mixin parallax-layer($depth, $perspective) {
    @media screen and (min-width: 40em) {
        @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            $scale: 1 + ($depth * -1) / $perspective;
            transform: translateZ($depth + 1px) scale($scale);
        }
    }
}

@mixin grow-pulse {
    @include transform(scale(1));
    @include transition(0.5s, ease-in-out);

    &:hover {
        @include transform(scale(1.1));
        @include transition(1s, ease-in-out);
    }

    &:active {
        @include transform(scale(1));
        @include transition(0.1s, ease-in-out);
    }
}