.c-app{
	background: url(../images/bg.jpg) #171847 no-repeat center center;
	background-size: cover;
	flex-grow: 1;
	display: flex;

	@include e(content){
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 1055px;
		margin: 0 auto;
		padding: 50px 20px;

		@media (max-width: $screen-sm-min){
			padding: 50px 20px 20px;
		}		
	}

	@include e(info){
		width: 50%;
		padding-right: 99px;

		@media (max-width: $screen-md-min){
			padding-right: 25px;
		}

		@media (max-width: $screen-sm-min){
			padding-right: 0;
			width: 100%;
			text-align: center;
		}
	}

	@include e(info-title){
		font-family: $font-family-primary-lacky;		
		font-size: 120px;
		color: $white;
		text-transform: uppercase;
		font-weight: normal;
		line-height: 0.9;

		span{
			color: #E90029;
			font-family: $font-family-primary;
		}

		@media (max-width: $screen-md-min){			
			font-size: 95px;
		}

		@media (max-width: $screen-sm-min){
			font-size: 80px;
		}
	}

	@include e(info-links){
		margin: 30px 0 25px;

		a{
			display: inline-block;
			margin-left: 5px;

			&:first-child{
				margin-left: 0;
			}

			img{
				display: block;
			}

			@media (max-width: $screen-sm-min){
				margin: 5px 0;
			}
		}
	}

	@include e(info-text){
		line-height: 1.4;
	}	

	@include e(image){
		width: 50%;
		padding-top: 65px;

		@media (max-width: $screen-sm-min){
			padding-top: 5px;
			width: 100%;
			text-align: center;
		}		
	}

	@include e(legal){
		font-size: 11px;
	}

	@include e(legal-text){
		line-height: 1.3;
		margin: 30px 0;
	}

	@include e(legal-links){
		font-size: 15px;

		a{
			color: #9D9D9D;
			display: block;
			margin-bottom: 10px;
		}
	}	

	h1, p{
		margin: 0;
	}
}

.c-app-page{
	flex-grow: 1;
	display: flex;
}