.c-header {
	background-color: $blue;
	width: 100%;
	height: 80px;
	@include mq(tablet){
		height: 56px;
	}
	@include e(content) {
		max-width: $header-max-width;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 0 120px;
		@include mq(tablet-large) {
			padding: 0 15px;
		}

	}
}