.c-footer {
	flex-shrink: 0;
	background-color: $red;
	width: 100%;
	height: 60px;

	@media (max-width: $screen-sm-min){
		height: auto;
		text-align: center;
	}

	@include e(content) {
		max-width: $header-max-width;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 0 120px;

		@media (max-width: $screen-sm-min){
			flex-direction: column;
			max-width: 100%;
			padding: 20px;
		}
	}
	
	@include e(links){		
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 12px;
		font-family: $font-family-terciary-medium;

		li{
			display: inline-block;
			margin: 0 10px;

			&:last-child{
				margin-right: 0;
			}

			@media (max-width: $screen-sm-min){
				line-height: 1.8;
			}
		}		
	}

	@include e(logo){
		img{
			display: block;
		}

		@media (max-width: $screen-sm-min){
			margin-bottom: 10px;
		}
	}
}