.c-body {
	max-width: $content-max-width;
	margin: 0 auto;
	text-align: center;
	background-color: $white;
	@include mq(tablet){
		background-color: transparent;
	}
	@include m(marginTop)	{
		margin-top: calc(123px + 121px);
		@include mq(tablet){
			margin-top: calc(212px);
		}

	}

	@include m(altBG){
			background-color: $color-primary-alt;
	}
	@include m(transparent){
			background-color: transparent;
	}
	@include m(hiddenOverflow){
			overflow: hidden;
	}


	@include e(content)	{
		max-width: 618px;
		margin: 0 auto;
		@include mq(tablet){
			max-width: 100%;
		}
	}

}