.c-proteccion {
	width: 100%;
	//margin-top: 65px;
	display: flex;
	align-items: baseline;
	background-color: $white;

	@include mq(mobile){
		margin-top: 0;
	}

	@include e(content){
		max-width: $content-max-width;
		width: 100%;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
		flex-basis: 100%;
		//margin-top: 65px;
		@include mq(tablet){
			flex-direction: column;
		}

		@include mq(mobile){
			margin-top: 0;
		}
	}

	@include e(block){
		display: flex;
		margin-bottom: 35px;

		@include mq(mobile){
			display: grid;
		}
	}

	@include e(left){
		text-align: left;
		padding-right: 30px;

		@include mq(mobile){
			padding-right: 0;
		}
	}


	@include e(title){
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-family: $font-family-primary-lacky;
		font-weight: 500;
		line-height: normal;
		font-size: 46px;
		color: $red;
		margin-bottom: 0;
		margin-top: 32px;

		@include m(font){
			font-family: $font-family-primary;
		}

		@include mq(mobile){
			display: grid;
			line-height: 40px;
			font-size: 42px;
			text-align: center;
		}
	}


	@include e(subtitle){
		font-family: $font-family-secondary-bold;
		line-height: em(26,20);
		font-size: em(20);
		color: $blue;
		color: #171847;

		@include mq(mobile){
			text-align: center;
			margin-top: 10px;
			margin-bottom: 10px;
			line-height: em(24,18);
			font-size: em(18);
		}

	}

	@include e(text){
		color: $blue;
		font-size: em(15);
		line-height: em(22,15);
		font-family: $font-family-secondary-regular;
		margin: 30px 0;
		max-width: 500px;
		font-weight: normal;

		a{
			color: $blue;
			text-decoration: none;
		}

		@include mq(mobile){
			text-align: center;
			margin: 0 auto;
		}
	}

	@include m(bold){
		font-family: $font-family-secondary-bold;
	}
}


