.c-tarjeta {
	background-color:#FFFCF9;
	padding-top: 30px;
	@include e(content) {
		max-width: 950px;
		margin: auto;
		padding-bottom: 50px;

		@include mq(mobile){
			padding-bottom: 24px;
		}
	}


	@include e(title){
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-family: $font-family-primary-lacky;
		font-weight: 500;
		line-height: normal;
		font-size: 72px;
		letter-spacing: -0.448px;
		color: $red;
		margin: 0;

		@include m(font){
			font-family: $font-family-primary;
		}

		@include mq(mobile){
			font-size: 42px;
			text-align: center;
			letter-spacing: -0.250731px;
		}
	}

	@include e(description){
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: $font-family-secondary-bold;
		line-height: 22px;
		font-size: 17px;
		text-align: center;
		color: $blue;

		@include m(regular){
			font-family: $font-family-secondary-regular;
		}

		@include mq(mobile){
			max-width: 90%;
			font-size: 15px;
			font-family: $font-family-secondary-regular;
			margin: 0 auto;
		}
	}

	@include e(blocks){
		display: flex;
		width: 95%;
		margin: 0 auto;

		@include m(padding){
			padding-top: 30px;
			padding-bottom: 32px;
		}

		@include mq(mobile){
			display: grid;
		}
	}

	@include e(block){
		text-align: center;
		width: 50%;

		@include mq(mobile){
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}


		label {
			color: $blue;
			font-family: $font-family-terciary;
			font-size: 14px;
			text-transform: uppercase;
			transform: translateY(2px);

		}
		input{
			width: 100%;
			border-style: none;
			border-bottom: 1px solid #C9C9D3;
			background: transparent;
			margin-bottom: 33px;
			padding-bottom: 17px;
			font-family: "LyonTextRegular", sans-serif;
			position: relative;
			z-index: 2;
		}

		/* Change Autocomplete styles in Chrome*/
		input:-webkit-autofill,
		input:-webkit-autofill:hover, 
		input:-webkit-autofill:focus
		textarea:-webkit-autofill,
		textarea:-webkit-autofill:hover
		textarea:-webkit-autofill:focus,
		select:-webkit-autofill,
		select:-webkit-autofill:hover,
		select:-webkit-autofill:focus { 
			-webkit-text-fill-color: $blue;
			-webkit-box-shadow: 0 0 0px 1000px #fff inset;
			transition: background-color 5000s ease-in-out 0s;
		}		

		select{
			width: 81%;
		}

		@include m(width){
			width: 90%;
			position: relative;
			margin: 45px 0;

			@include mq(mobile){
				margin: 25px 0;
			}
		}

		@include m(justify){
			justify-content: space-between;
			margin: 0;

			@include mq(mobile){
				justify-content: initial;
			}
		}

		@include m(column-left){
			width: 49%;
			float: left;

			@include mq(mobile){
				width: 100%;
				margin: 25px 0 !important;
			}

			&.input-field{
				margin: 0;
			}
		}

		@include m(column-right){
			float: right;
			width: 49%;

			@include mq(mobile){
				width: 100%;
				margin: 25px 0 !important;
			}

			&.input-field{
				margin: 0;
			}			
		}
	}

	@include e(submit){
		width: 100%;
		display: flex;
		justify-content:center;		

		input[type="submit"]{
			background-color: $red;
			color: $white;
			width: 285px;
			height: 48px;
			border: 0;
			font-family: $font-family-terciary !important;
			text-transform: uppercase;

			&:hover{
				cursor: pointer;
			}			
		}
	}

	@include e(wf-email){
		background: url(../images/email.svg) no-repeat center center;
		background-size: 5%;
		background-position: right;
		background-position-x: 98%;
		background-position-y: 8%;
		position: relative;
	}

	@include e(wf-mobile){
		background: url(../images/mobile.svg) no-repeat center center;
		background-size: 4%;
		background-position: right;
		background-position-x: 98%;
		background-position-y: 8%;
		position: relative;
	}

	@include e(wf-pass){
		background: url(../images/pass.svg) no-repeat center center;
		background-size: 3%;
		background-position: right;
		background-position-x: 98%;
		background-position-y: 8%;
		position: relative;
	}

	@include e(wf-calendar){
		background: url(../images/calendar.svg) no-repeat center center;
		background-size: 3%;
		background-position: right;
		background-position-x: 98%;
		background-position-y: 8%;
		position: relative;
	}

	input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
		height: 32px;
		margin-bottom: 0;
		color: $blue;
	}

	@include e(block-select){
		@include flexbox;
		@include flex-direction(column);

		& > div{
			@include order(2);
		}

		& > span{
			@include order(1);
		}		
	}
}


.select2-container .select2-selection--single {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 33px !important;
	margin: 0;
}


.select2-container--default .select2-selection--single {
	background-color: transparent !important;
	border-radius: 0px !important;
	border: none !important;
	border-bottom: 1px solid #C9C9D3 !important;
	margin-bottom: 0;
	padding-bottom: 17px;
}

.select2-container {
	width: 100% !important;
}

.select2-selection__rendered{
	color: $blue !important;
	font-family: $font-family-terciary;
	font-size: 14px;
	line-height: 20px !important;
	text-align: left;
	padding-left: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	background: url(../images/arrow-down.svg) no-repeat center center;

	b{
		display: none;
	}
}

.c-error{
	position: relative; 

	.error{
		color: #D50032;
		font-family: $font-family-secondary-regular;
		font-size: 11px;
		padding-top: 5px;
		text-align: left;
	}

	label{
		color: #D50032;		
	}

	input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
		border-color: #D50032 !important;
		box-shadow: none !important;
	}

	.select2-container--default .select2-selection--single{
		border-color: #D50032 !important;
	}

	.select2-selection__rendered{
		color: #D50032 !important;
	}

	& > div:not(.modal-overlay):not(.modal){
		position: relative;
		width: 100%;

		.error{
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

.datepicker-modal{
	.datepicker-footer{
		display: none;
	}

	.datepicker-table td.is-today{
		color: $red;
	}

	.datepicker-date-display{
		background-color: $blue;
		text-align: left;
		font-family: $font-family-secondary-regular;
	}

	abbr[title]{
		text-decoration: none; 
	}

	.datepicker-table td.is-selected{
		background: none;
		color: $blue;

		button{
			font-weight: bold;
		}
	}

	.datepicker-day-button:focus{
		background: none;
	}
}

.dropdown-content li > a, .dropdown-content li > span{
	color: $blue;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: $blue;
}

.select2-results__option{
	color: $blue;
	font-family: $font-family-terciary;
	font-size: 14px;	
}