.c-background {
	position: relative;
	width: 100%;
	height: 370px;
	left: 0;
	z-index: -1;
	background: {
		image: url(../images/header.jpg);
		position: center top;
		size: cover;
	};

	@include mq(mobile){
		height: 220px;
		background: {
			image: url(../images/headermobile.jpg);
		}
	}


}