/* ==========================================================================
   #BODY
   ========================================================================== */

@include selection(palette(color-primary));



body {
	background-color: #ffffff;
}

*:focus {
    outline: 0;
}

strong {
    font-weight: $font-weight-bold;
}