.c-footer {
	background-color: $color-secondary;
	width: 100%;
	height: 80px;
	bottom: 0px;
	position: absolute;
	@include mq(tablet){
		height: 72px;
	}
	@include e(content) {
		max-width: $header-max-width;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 0 120px;

		@include mq(tablet) {
			padding: 0 15px;
			justify-content: center;
		}

	}

}