@charset "UTF-8";
/* Box sizing */
/* A├▒ade un border-radius al elemento */
/* A├▒ade un border-radius al elemento */
/* A├▒ade un border-radius al elemento */
/* A├▒ade un border-radius al elemento */
/* A├▒ade un border-radius al elemento */
/* Aplica un valor de opacidad entre 0 y 1 */
/* Trunca un texto y a├▒ade elipsis si supera el ancho de su contenedor */
/* Ellipsis Hack */
/* A├▒ade una transici├│n */
/* Aplica un box-shadow al elemento al que se le aplica */
/* Permite colocar im├ígenes de fondo responsive */
/* Optimiza el renderizado de la tipograf├¡a  */
/* Deshabilita la selecci├│n de un usuario en el elemento que se aplica */
/* Aplica una escala de grises */
/* Convierte a em el valor en pixeles que le pases */
/* Aplica la funci├│n calc() de CSS */
/* A├▒ade una web font en todos sus formatos */
/* Only IE */
/* Only Safari */
/* BEM */
/* Media queries */
/* Media queries */
/* Media queries Bootstrap */
/* Box sizing */
@font-face {
  font-family: "TrimPoster";
  src: url("../fonts/subset-TrimPoster-Slender.eot");
  src: url("../fonts/subset-TrimPoster-Slender.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TrimPoster-Slender.woff") format("woff"), url("../fonts/subset-TrimPoster-Slender.woff2") format("woff2"), url("../fonts/subset-TrimPoster-Slender.ttf") format("truetype"), url("../fonts/subset-TrimPoster-Slender.svg#TrimPoster") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "TrimPosterLacky";
  src: url("../fonts/subset-TrimPoster-Lanky.eot");
  src: url("../fonts/subset-TrimPoster-Lanky.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TrimPoster-Lanky.woff") format("woff"), url("../fonts/subset-TrimPoster-Lanky.woff2") format("woff2"), url("../fonts/subset-TrimPoster-Lanky.ttf") format("truetype"), url("../fonts/subset-TrimPoster-Lanky.svg#TrimPosterLacky") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "LyonTextBold";
  src: url("../fonts/subset-LyonTextApp-Bold.eot");
  src: url("../fonts/subset-LyonTextApp-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-LyonTextApp-Bold.woff") format("woff"), url("../fonts/subset-LyonTextApp-Bold.woff2") format("woff2"), url("../fonts/subset-LyonTextApp-Bold.ttf") format("truetype"), url("../fonts/subset-LyonTextApp-Bold.svg#LyonTextBold") format("svg");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: "LyonTextRegular";
  src: url("../fonts/subset-LyonTextApp-Regular.eot");
  src: url("../fonts/subset-LyonTextApp-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-LyonTextApp-Regular.woff") format("woff"), url("../fonts/subset-LyonTextApp-Regular.woff2") format("woff2"), url("../fonts/subset-LyonTextApp-Regular.ttf") format("truetype"), url("../fonts/subset-LyonTextApp-Regular.svg#LyonTextRegular") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "BarlowSemiCondensed";
  src: url("../fonts/subset-BarlowSemiCondensed-Bold.eot");
  src: url("../fonts/subset-BarlowSemiCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-BarlowSemiCondensed-Bold.woff") format("woff"), url("../fonts/subset-BarlowSemiCondensed-Bold.woff2") format("woff2"), url("../fonts/subset-BarlowSemiCondensed-Bold.ttf") format("truetype"), url("../fonts/subset-BarlowSemiCondensed-Bold.svg#BarlowSemiCondensed") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "BarlowSemiCondensedMedium";
  src: url("../fonts/BarlowSemiCondensed-Medium.eot");
  src: url("../fonts/BarlowSemiCondensed-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BarlowSemiCondensed-Medium.woff") format("woff"), url("../fonts/BarlowSemiCondensed-Medium.woff2") format("woff2"), url("../fonts/BarlowSemiCondensed-Medium.ttf") format("truetype"), url("../fonts/BarlowSemiCondensed-Medium.svg#BarlowSemiCondensedMedium") format("svg");
  font-style: normal;
  font-weight: normal; }
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* ==========================================================================
   #BODY
   ========================================================================== */
::-moz-selection {
  /* Code for Firefox */
  background: palette(color-primary);
  color: #fff; }

::selection {
  background: palette(color-primary);
  color: #fff; }

body {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-family: "LyonTextRegular", sans-serif;
  font-size: 17px; }
  @media (min-width: 769px) {
    body {
      height: 100vh;
      min-height: 800px; } }

*:focus {
  outline: 0; }

strong {
  font-weight: bold; }

a {
  color: #FFF;
  text-decoration: none; }

img {
  max-width: 100%; }

/* ==========================================================================
   #RESET BOOTSTRAP
   ========================================================================== */
.row {
  width: 100%;
  margin-bottom: 0; }
  .row.no-gutters {
    margin-right: 0;
    margin-left: 0; }
    .row.no-gutters > [class^="col-"],
    .row.no-gutters > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0; }

.container-fluid.no-gutters {
  padding-right: 0;
  padding-left: 0; }

.has-error .form-control:focus,
.has-success .form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.pac-container {
  z-index: 1051; }

.btn.active, .btn:active {
  box-shadow: none !important; }

/* ==========================================================================
   #RESET MATERIALIZE
   ========================================================================== */
nav {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: initial;
  height: initial;
  line-height: initial; }
  @media only screen and (min-width: 601px) {
    nav {
      height: initial;
      line-height: initial; } }
  nav ul li {
    float: none; }
  nav ul a {
    padding: 0;
    font-size: initial; }

a {
  outline: 0; }

.row {
  margin: initial; }

input::-moz-focus-inner {
  border: 0; }

*::-moz-focus-inner {
  border: 0 !important; }

object, embed {
  outline: 0; }

input[type=range]::-moz-focus-outer {
  border: 0; }

input[type=range]:focus {
  outline: none; }

button:focus {
  background-color: transparent; }

*:focus {
  outline: 0 !important; }

/* ==========================================================================
   #RESET BOOTSTRAP DATETIME PICKER
   ========================================================================== */
.bootstrap-datetimepicker-widget .dropdown-menu {
  width: 100%; }
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #3D3935; }
.bootstrap-datetimepicker-widget table td .btn {
  color: #3D3935 !important;
  display: inline-block !important;
  padding: 6px 12px !important;
  margin-bottom: 0 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.42857143 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  background-image: none !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  height: 72px !important;
  background-color: transparent !important;
  box-shadow: none !important; }

/* TinyMCE */
.mce-tinymce {
  width: 99.8% !important;
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.mce-btn button {
  border-right: 1px solid #9B9B9B; }

.mce-menubar {
  border: 0 !important; }

.mce-edit-area iframe {
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.mce-textbox:focus {
  border-bottom: 1px solid #3D3935 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

div.mce-edit-area {
  border-radius: 0px 0px 5px 5px; }

input[type=submit] {
  font-family: "TrimPoster", sans-serif !important; }

@media only screen and (max-width: 40em) {
  .u-hidden__mobile {
    display: none !important; } }

.element-invisible {
  display: none; }

.c-header {
  background-color: #171847;
  width: 100%;
  height: 80px; }
  @media only screen and (max-width: 48em) {
    .c-header {
      height: 56px; } }
  .c-header__content {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 120px; }
    @media only screen and (max-width: 64em) {
      .c-header__content {
        padding: 0 15px; } }

.c-app {
  background: url(../images/bg.jpg) #171847 no-repeat center center;
  background-size: cover;
  flex-grow: 1;
  display: flex; }
  .c-app__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1055px;
    margin: 0 auto;
    padding: 50px 20px; }
    @media (max-width: 768px) {
      .c-app__content {
        padding: 50px 20px 20px; } }
  .c-app__info {
    width: 50%;
    padding-right: 99px; }
    @media (max-width: 992px) {
      .c-app__info {
        padding-right: 25px; } }
    @media (max-width: 768px) {
      .c-app__info {
        padding-right: 0;
        width: 100%;
        text-align: center; } }
  .c-app__info-title {
    font-family: "TrimPosterLacky", sans-serif;
    font-size: 120px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 0.9; }
    .c-app__info-title span {
      color: #E90029;
      font-family: "TrimPoster", sans-serif; }
    @media (max-width: 992px) {
      .c-app__info-title {
        font-size: 95px; } }
    @media (max-width: 768px) {
      .c-app__info-title {
        font-size: 80px; } }
  .c-app__info-links {
    margin: 30px 0 25px; }
    .c-app__info-links a {
      display: inline-block;
      margin-left: 5px; }
      .c-app__info-links a:first-child {
        margin-left: 0; }
      .c-app__info-links a img {
        display: block; }
      @media (max-width: 768px) {
        .c-app__info-links a {
          margin: 5px 0; } }
  .c-app__info-text {
    line-height: 1.4; }
  .c-app__image {
    width: 50%;
    padding-top: 65px; }
    @media (max-width: 768px) {
      .c-app__image {
        padding-top: 5px;
        width: 100%;
        text-align: center; } }
  .c-app__legal {
    font-size: 11px; }
  .c-app__legal-text {
    line-height: 1.3;
    margin: 30px 0; }
  .c-app__legal-links {
    font-size: 15px; }
    .c-app__legal-links a {
      color: #9D9D9D;
      display: block;
      margin-bottom: 10px; }
  .c-app h1, .c-app p {
    margin: 0; }

.c-app-page {
  flex-grow: 1;
  display: flex; }

.c-footer {
  flex-shrink: 0;
  background-color: #C00334;
  width: 100%;
  height: 60px; }
  @media (max-width: 768px) {
    .c-footer {
      height: auto;
      text-align: center; } }
  .c-footer__content {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 120px; }
    @media (max-width: 768px) {
      .c-footer__content {
        flex-direction: column;
        max-width: 100%;
        padding: 20px; } }
  .c-footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: "BarlowSemiCondensedMedium", sans-serif; }
    .c-footer__links li {
      display: inline-block;
      margin: 0 10px; }
      .c-footer__links li:last-child {
        margin-right: 0; }
      @media (max-width: 768px) {
        .c-footer__links li {
          line-height: 1.8; } }
  .c-footer__logo img {
    display: block; }
  @media (max-width: 768px) {
    .c-footer__logo {
      margin-bottom: 10px; } }

/*# sourceMappingURL=style.css.map */
