/* Box sizing */
@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}

/* Añade un border-radius al elemento */
@mixin border-radius($radius, $important: false) {
    @if $important {
        background-clip: padding-box;
        -webkit-border-radius: $radius !important;
        -moz-border-radius: $radius !important;
        border-radius: $radius !important;
    } @else {
        background-clip: padding-box;
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        border-radius: $radius;
    }
}

/* Añade un border-radius al elemento */
@mixin border-radius-top-bottom-left($radius, $important: false) {
    @if $important {
        background-clip: padding-box;
        -webkit-border-top-left-radius: $radius !important;
        -webkit-border-bottom-left-radius: $radius !important;
        -moz-border-radius-topleft: $radius !important;
        -moz-border-radius-bottomleft: $radius !important;
        border-top-left-radius: $radius !important;
        border-bottom-left-radius: $radius !important;
    } @else {
        background-clip: padding-box;
        -webkit-border-top-left-radius: $radius;
        -webkit-border-bottom-left-radius: $radius;
        -moz-border-radius-topleft: $radius;
        -moz-border-radius-bottomleft: $radius;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
    }

}

/* Añade un border-radius al elemento */
@mixin border-radius-top-bottom-right($radius, $important: false) {
    @if $important {
        background-clip: padding-box;
        -webkit-border-top-right-radius: $radius !important;
        -webkit-border-bottom-right-radius: $radius !important;
        -moz-border-radius-topright: $radius !important;
        -moz-border-radius-bottomright: $radius !important;
        border-top-right-radius: $radius !important;
        border-bottom-right-radius: $radius !important;
    } @else {
        background-clip: padding-box;
        -webkit-border-top-right-radius: $radius;
        -webkit-border-bottom-right-radius: $radius;
        -moz-border-radius-topright: $radius;
        -moz-border-radius-bottomright: $radius;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
    }

}

/* Añade un border-radius al elemento */
@mixin border-radius-top-left-right($radius, $important: false) {
    @if $important {
        background-clip: padding-box;
        -webkit-border-radius: $radius !important;
        -webkit-border-bottom-right-radius: 0px !important;
        -webkit-border-bottom-left-radius: 0px !important;
        -moz-border-radius: $radius !important;
        -moz-border-radius-bottomright: 0px !important;
        -moz-border-radius-bottomleft: 0px !important;
        border-radius: $radius !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    } @else {
        background-clip: padding-box;
        -webkit-border-radius: $radius;
        -webkit-border-bottom-right-radius: 0px;
        -webkit-border-bottom-left-radius: 0px;
        -moz-border-radius: $radius;
        -moz-border-radius-bottomright: 0px;
        -moz-border-radius-bottomleft: 0px;
        border-radius: $radius;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

}

/* Añade un border-radius al elemento */
@mixin border-radius-bottom-left-right($radius, $important: false) {
    @if $important {
        background-clip: padding-box;
        -webkit-border-radius: $radius !important;
        -webkit-border-top-left-radius: 0px !important;
        -webkit-border-top-right-radius: 0px !important;
        -moz-border-radius: $radius !important;
        -moz-border-radius-topleft: 0px !important;
        -moz-border-radius-topright: 0px !important;
        border-radius: $radius !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    } @else {
        background-clip: padding-box;
        -webkit-border-radius: $radius;
        -webkit-border-top-left-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        -moz-border-radius: $radius;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright: 0px;
        border-radius: $radius;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

}

/* Aplica un valor de opacidad entre 0 y 1 */
@mixin opacity($opacity, $important: null) {
    opacity: $opacity $important;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie) $important; //IE8
}

/* Trunca un texto y añade elipsis si supera el ancho de su contenedor */
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Ellipsis Hack */
@mixin ellipsis-hack($num-lines, $line-height: 16px, $important: null) {
    display: -webkit-box $important;
    white-space: normal $important;
    -webkit-line-clamp: $num-lines $important;
    -webkit-box-orient: vertical $important;
    overflow: hidden $important;
    line-height: $line-height;
    max-height: $line-height * $num-lines;
    //height: 100%; //Safari

    @include only-ie {
        display: block !important;
    }
}

/* Añade una transición */
@mixin transition($time, $function, $property: all, $delay: 0s) {
    -webkit-transition: $property $time $function $delay;
    -moz-transition: $property $time $function $delay;
    -o-transition: $property $time $function $delay;
    transition: $property $time $function $delay;
}

/* Aplica un box-shadow al elemento al que se le aplica */
@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false, $important: false) {
    @if $important {
        @if $inset {
            -webkit-box-shadow: inset $top $left $blur $spread $color !important;
            -moz-box-shadow: inset $top $left $blur $spread $color !important;
            box-shadow: inset $top $left $blur $spread $color !important;
        } @else {
            -webkit-box-shadow: $top $left $blur $spread $color !important;
            -moz-box-shadow: $top $left $blur $spread $color !important;
            box-shadow: $top $left $blur $spread $color !important;
        }
    } @else {
        @if $inset {
            -webkit-box-shadow: inset $top $left $blur $spread $color;
            -moz-box-shadow: inset $top $left $blur $spread $color;
            box-shadow: inset $top $left $blur $spread $color;
        } @else {
            -webkit-box-shadow: $top $left $blur $spread $color;
            -moz-box-shadow: $top $left $blur $spread $color;
            box-shadow: $top $left $blur $spread $color;
        }
    }
}

@mixin remove-box-shadow() {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/* Permite colocar imágenes de fondo responsive */
@mixin background-size {
    background-position: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @include mq(mobile) {
        background-attachment: scroll;
    }

}

/* Optimiza el renderizado de la tipografía  */
@mixin text-rendering-antialiased {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

/* Deshabilita la selección de un usuario en el elemento que se aplica */
@mixin user-no-select {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
}

/* Aplica una escala de grises */
@mixin desaturate($i) {
    @if $i == 0 {
        -webkit-filter: grayscale(0);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)" /* IE 8+ */;
        filter: initial !important; /* IE 7 and the rest of the world */
    } @else {
        -moz-filter: grayscale($i / 100);
        -webkit-filter: grayscale($i / 100);
        filter: grayscale($i / 100);
        //filter: url("assets/images/gray.svg#grayscale");
        filter: gray; /* IE6-9 */
    }
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin transform($transform, $important: null) {
    -webkit-transform: $transform $important;
    -moz-transform: $transform $important;
    -ms-transform: $transform $important;
    -o-transform: $transform $important;
    transform: $transform $important;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
}

@mixin selection($background-color, $color: #fff) {
    ::-moz-selection { /* Code for Firefox */
        background: $background-color;
        color: $color;
    }

    ::selection {
        background: $background-color;
        color: $color;
    }
}

@mixin optimal-title {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

/* Convierte a em el valor en pixeles que le pases */
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

/* Aplica la función calc() de CSS */
@mixin calc($property, $expression, $important: false) {
    @if $important == true {
        #{$property}: -webkit-calc(#{$expression}) !important;
        #{$property}: calc(#{$expression}) !important;
    } @else {
        #{$property}: -webkit-calc(#{$expression});
        #{$property}: calc(#{$expression});
    }
}

/* Añade una web font en todos sus formatos */
@mixin fontFace($family, $src, $style: normal, $weight: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.eot'); // IE9 compat
        src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
        url('#{$src}.woff') format('woff'), // standards
        url('#{$src}.woff2') format('woff2'), // standards
        url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
        url('#{$src}.svg##{$family}') format('svg'); // legacy iOS
        font-style: $style;
        font-weight: $weight;
    }
}

@mixin clip-path($apertura) {
    -webkit-clip-path: ellipse($apertura 70% at 50% 30%);
    clip-path: ellipse($apertura 70% at 50% 30%);
}

@mixin clip-path-top($apertura) {
    -webkit-clip-path: ellipse($apertura 70% at 50% 70%);
    clip-path: ellipse($apertura 70% at 50% 70%);
}

@mixin mix-blend-mode($mode, $opacity: 0.85) {
    mix-blend-mode: $mode;

    .no-backgroundblendmode & {
        @include opacity($opacity);
    }
}

@mixin keyframe($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation($duration, $animation, $delay: 0s, $iteration: 1, $fill-mode: forwards) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-iteration-count: $iteration;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-iteration-count: $iteration;

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-iteration-count: $iteration;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-iteration-count: $iteration;

    @if $iteration != 'infinite' {
        -webkit-animation-fill-mode: $fill-mode;
        -moz-animation-fill-mode: $fill-mode;
        -o-animation-fill-mode: $fill-mode;
        animation-fill-mode: $fill-mode;
    }
}

/* Only IE */
@mixin only-ie() {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

/* Only Safari */
@mixin only-safari() {
    &:not(:root:root) {
        @content;
    }
}

/* BEM */
@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}

/* Media queries */
/* Media queries */
@mixin mq($media) {
    @if $media == small-mobile {
        @media only screen and (max-width: $break-super-small) {
            @content;
        }
    }@else if $media == mobile {
        @media only screen and (max-width: $break-small) {
            @content;
        }
    }@else if $media == tablet {
        @media only screen and (max-width: $break-tablet) {
            @content;
        }
    }@else if $media == tablet-medium {
        @media only screen and (max-width: $break-tablet-medium) {
            @content;
        }
    } @else if $media == tablet-large {
        @media only screen and (max-width: $break-tablet-large) {
            @content;
        }
    } @else if $media == laptop {
        @media only screen and (max-width: $break-laptop) {
            @content;
        }
    }
}

/* Media queries Bootstrap */
@mixin mq-b($media) {

    @if $media == xs-mas {
        @media (max-width: $screen-xs-max) {
            @content;
        }
    } @else if $media == sm-min {
        @media (min-width: $screen-sm-min) {
            @content;
        }
    } @else if $media == sm-max {
        @media (max-width: $screen-sm-max) {
            @content;
        }
    } @else if $media == md-min {
        @media (min-width: $screen-md-min) {
            @content;
        }
    } @else if $media == md-max {
        @media (max-width: $screen-md-max) {
            @content;
        }
    } @else if $media == lg-min {
        @media (min-width: $screen-lg-min) {
            @content;
        }
    } @else if $media == xl-min {
        @media (min-width: $screen-xl-min) {
            @content;
        }
    } @else if $media == xl-max {
        @media (max-width: $screen-xl-max) {
            @content;
        }
    }

}

@mixin placeholder($color, $opacity) {
    /* Style Placeholders */
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $color !important;
        opacity: $opacity;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color !important;
        opacity: $opacity;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color !important;
        opacity: $opacity;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color !important;
        opacity: $opacity;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $color !important;
        opacity: $opacity;
    }
}

@mixin transparent-input() {

    &:hover,
    &:active,
    &:focus {
        border-color: transparent;
        outline: 0px none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    &:invalid {
        box-shadow: none;
    }
    &:-moz-submit-invalid {
        box-shadow: none;
    }
    &:-moz-ui-invalid {
        box-shadow: none;
    }
    &:required {
        box-shadow: none;
    }
    &:-moz-submit-required {
        box-shadow: none;
    }
    &:-moz-ui-required {
        box-shadow: none;
    }
}

@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}