// =============================
//   Media queries
//==============================


// Bootstrap
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
$screen-xl-min: 1440px;
$screen-xl-max: ($screen-xl-min - 1);


$break-super-small: 30em; //480
$break-small: 40em; //640
$break-tablet: 48em; //768px
$break-tablet-medium:  60.5em; //968
$break-tablet-large: 64em; //1024px
$break-laptop: 80em; //1280px



// Articulos
$content-max-tablet: 1316px;