/* ==========================================================================
   #RESET BOOTSTRAP
   ========================================================================== */

.row {
    width: 100%;
    margin-bottom: 0;

    &.no-gutters {
        margin-right: 0;
        margin-left: 0;

        > [class^="col-"],
        > [class*=" col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.container-fluid {
    &.no-gutters {
        padding-right: 0;
        padding-left: 0;
    }
}

.has-error .form-control:focus,
.has-success .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.pac-container {
    z-index: 1051;
}

.btn.active, .btn:active {
    box-shadow: none !important;
}



/* ==========================================================================
   #RESET MATERIALIZE
   ========================================================================== */

nav {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: initial;
    height: initial;
    line-height: initial;

    @media only screen and (min-width: 601px) {
        height: initial;
        line-height: initial;
    }

    ul {
        li {
            float: none;
        }

        a {
            padding: 0;
            font-size: initial;
        }
    }
}

a {
    outline: 0;
}

.row {
    margin: initial;
}

input::-moz-focus-inner {
    border: 0;
}

*::-moz-focus-inner {
    border: 0 !important;
}

object, embed {
    outline: 0;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]:focus {
    outline: none;
}

button:focus {
    background-color: transparent;
}

*:focus {
    outline: 0 !important;
}

/* ==========================================================================
   #RESET BOOTSTRAP DATETIME PICKER
   ========================================================================== */

.bootstrap-datetimepicker-widget {
    .dropdown-menu {
        width: 100%;
    }

    table {
        td.active,
        td.active:hover {
            background-color: $color-primary;

        }

        td {
            .btn {
                color: $color-primary !important;
                display: inline-block !important;
                padding: 6px 12px !important;
                margin-bottom: 0 !important;
                font-size: 14px !important;
                font-weight: 400 !important;
                line-height: 1.42857143 !important;
                text-align: center !important;
                white-space: nowrap !important;
                vertical-align: middle !important;
                -ms-touch-action: manipulation !important;
                touch-action: manipulation !important;
                cursor: pointer !important;
                -webkit-user-select: none !important;
                -moz-user-select: none !important;
                -ms-user-select: none !important;
                user-select: none !important;
                background-image: none !important;
                border: 1px solid transparent !important;
                border-radius: 4px !important;
                height: 72px !important;
                background-color: transparent !important;
                box-shadow: none !important;
            }
        }
    }
}

/* TinyMCE */
.mce-tinymce {
    width: 99.8% !important;

    @include border-radius(5px);
}

.mce-btn button {
    border-right: 1px solid $gray-3;
}

.mce-menubar {
    border: 0 !important;
}

.mce-edit-area iframe {
    @include border-radius(5px);
}

.mce-textbox:focus {
    border-bottom: 1px solid $color-primary !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

div.mce-edit-area {
    border-radius: 0px 0px 5px 5px;
}

input[type=submit] {
    font-family: $font-family-primary !important;
}