/* ==========================================================================
   #BODY
   ========================================================================== */

@include selection(palette(color-primary));



body {
	background-color: $white;
	display: flex;
	flex-direction: column;	
	color: $white;
	font-family: $font-family-secondary-regular;
	font-size: 17px;

	@media (min-width: $screen-sm-min + 1){
		height: 100vh;
		min-height: 800px;
	}
}

*:focus {
    outline: 0;
}

strong {
    font-weight: $font-weight-bold;
}

a{
	color: $white;
	text-decoration: none;
}

img{
	max-width: 100%;
}