// Descriptive Base Colors

// Grayscale
$white: #FFFFFF;
$wild-sand: #F6F6F6;
$alabaster: #F8F8F8;
$concrete: #F2F2F2;
$mercury: #E6E6E6;
$gray-2: #DFDFDF;
$gray-3: #9B9B9B;
$gray-4: #898989;
$dusty-gray: #979797;
$gray: #7F7F7F;
$mine-shaft: #303030;
$granito: #242424;
$black: #000000;
$clouds: #ecf0f1;
$cod-gray: #161616;
$gray-comments: #FBFBFB;
$emperor: #555252;

// Blue
$eastern-blue: #23ABAE;
$dark-blue: #000EDA;
$azure-radiance: #008EFF;
$cornflower-blue: #3E13DF;
$wet-asphalt: #34495e;
$blue: #171847;

// Green
$lima: #6ECE1A;
$emerald: #2ecc71;

// Red
$burnt-sienna: #F00;
$red: #C00334;
$black: #3D3935;
$white: #FFF;





// Orange
$carrot: #e67e22;

// Pink
$wild-strawberry: #F92D8C;
$vin-rouge: #943862;
$cerise-red: #D42173;
$dark-red: #D50D6B;
$cerise: #D42677;

// Social brands
$facebook: #3b5998;
$twitter: #5B9EFF;
$pinterest: #cc2127;
$google-plus: #DD4B39;
$reddit: #cee3f8;
$instagram: #3f729b;

// Color usage

$color-primary: $black;
$color-primary-alt: $red;
$color-primary-dark: $dark-red;

$color-secondary: $blue;
$color-secondary-alt: $dark-blue;

$color-gradient-blue-1: $eastern-blue;
$color-gradient-blue-2: $dark-blue;

$color-section-gray: $wild-sand;

$color-success: $lima;
$color-error: $burnt-sienna;
$color-info: $eastern-blue;

$color-experiencias: $cod-gray;

$color-background: $wild-sand;
$color-background-blocks: $azure-radiance;
$color-background-blocks2: $cornflower-blue;

$color-modal-header-bg: $mine-shaft;
$color-modal-bg: $white;

$color-hero-bg-dark: $mine-shaft;

$color-font-primary: $mine-shaft;
$color-font-secondary: $black;
$color-font-tertiary: $dusty-gray;

$color-footer-bg: $mine-shaft;
$color-footer-copy: $white;
$color-footer-border: $dusty-gray;

$color-form-input-border: $dusty-gray;
$color-form-text: $mine-shaft;

$color-event-copy: $granito;
$color-event-copy: $granito;

$color-menu: $black;
$color-menu-bg: $white;
$color-menu-border: $concrete;
$color-menu-separator: $mercury;

$color-collapsible-border: $concrete;

$color-link-hover: $cerise-red;
$color-sublink-hover: $mine-shaft;
$color-bg-sections: $mine-shaft;

$color-border-blocks: $concrete;
$color-registro-panel: $concrete;

$color-login-header-bg: $mine-shaft;

$color-comunidad-avatar-bg: $concrete;

$color-review-done: $emerald;
$color-review-review: $carrot;
$color-review-to-do: $clouds;
$color-review-to-do-copy: $wet-asphalt;

// Color palette modifiers

$palettes: (
    color-primary: (
        xxx-light: rgba(lighten($color-primary, 32%), 0.28),
        xx-light : lighten($color-primary, 32%),
        x-light : lighten($color-primary, 16%),
        light : lighten($color-primary, 8%),
        base : $color-primary,
        dark : darken($color-primary, 8%),
        x-dark : darken($color-primary, 12%),
        xx-dark : darken($color-primary, 15%)
    ),
    color-primary-alt: (
        xxx-light: rgba(lighten($color-primary-alt, 32%), 0.28),
        xx-light : lighten($color-primary-alt, 32%),
        x-light : lighten($color-primary-alt, 16%),
        light : lighten($color-primary-alt, 8%),
        base : $color-primary-alt,
        dark : darken($color-primary-alt, 8%),
        x-dark : darken($color-primary-alt, 12%),
        xx-dark : darken($color-primary-alt, 15%)
    ),
    color-secondary: (
        xxx-light: lighten($color-secondary, 50%),
        xx-light : lighten($color-secondary, 32%),
        x-light : lighten($color-secondary, 16%),
        light : lighten($color-secondary, 8%),
        base : $color-secondary,
        dark : darken($color-secondary, 8%),
        x-dark : darken($color-secondary, 16%)
    ),
    color-secondary-alt: (
        xxx-light: lighten($color-secondary-alt, 50%),
        xx-light : lighten($color-secondary-alt, 32%),
        x-light : lighten($color-secondary-alt, 16%),
        light : lighten($color-secondary-alt, 8%),
        base : $color-secondary-alt,
        dark : darken($color-secondary-alt, 8%),
        x-dark : darken($color-secondary-alt, 16%)
    ),
    color-success: (
        x-light : lighten($color-success, 16%),
        light : lighten($color-success, 3%),
        base : $color-success,
        dark : darken($color-success, 3%),
        x-dark : darken($color-success, 16%)
    ),
    color-info: (
        x-light : lighten($color-info, 16%),
        light : lighten($color-info, 3%),
        base : $color-info,
        dark : darken($color-info, 3%),
        x-dark : darken($color-info, 16%)
    ),
    color-error: (
        x-light : lighten($color-error, 16%),
        light : lighten($color-error, 8%),
        base : $color-error,
        dark : darken($color-error, 8%),
        x-dark : darken($color-error, 16%)
    ),
    color-gray: (
        xxx-light: lighten($gray, 40%),
        xx-light : lighten($gray, 32%),
        x-light : lighten($gray, 16%),
        light : lighten($gray, 8%),
        base : $gray,
        dark : darken($gray, 8%),
        x-dark : darken($gray, 16%)
    ),
    color-white: (
        xxx-light: lighten($white, 40%),
        xx-light : lighten($white, 32%),
        x-light : lighten($white, 16%),
        light : lighten($white, 8%),
        base : $white,
        dark : darken($white, 8%),
        x-dark : darken($white, 16%)
    )
);
