.c-tarjeta {
	background-color:#FFFCF9;
	padding-top: 30px;
	@include e(content) {
		max-width: 950px;
		margin: auto;
		padding-bottom: 50px;
		width: 90%;

		@include mq(mobile){
			padding-bottom: 0px;
		}
	}

	@include e(title){
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-family: $font-family-primary-lacky;
		font-weight: 500;
		line-height: normal;
		font-size: 72px;
		letter-spacing: -0.448px;
		color: $red;
		margin: 0;

		@include m(font){
			font-family: $font-family-primary;
		}

		@include mq(mobile){
			line-height: 37px;
			font-size: 42px;
			text-align: center;
			letter-spacing: -0.250731px;

		}

		span{
			@include mq(mobile){
				display: inline-block;
			}
		}
	}

	@include e(description){
		display: flex;
		font-family: $font-family-secondary-bold;
		line-height: 22px;
		font-size: 17px;
		color: $blue;
		margin: 0 auto;
		margin-top: 25px;
		@include m(regular){
			font-family: $font-family-secondary-regular;
		}

		@include mq(mobile){
			padding-top: 23px;
			font-size: 15px;
			text-align: center;
			margin: 0 auto;
			display: inherit;
		}
	}

	@include e(blocks){
		display: flex;
		@include m(padding){
			padding-top: 30px;
			padding-bottom: 32px;
		}
	}

	@include e(block){
		text-align: center;

		@include mq(mobile){
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}


		input::placeholder {
			color: $blue;
			font-family: $font-family-terciary;
			font-size: 14px;

		}
		input{
			width: 100%;
			border-style: none;
			border-bottom: 1px solid #C9C9D3;
			background: transparent;
			margin-bottom: 24px;
			padding-bottom: 17px;
		}

		select{
			width: 81%;
		}

		@include m(width){
			width: 90%;
			position: relative;
			display: flex;
		}

		@include m(justify){
			justify-content: space-between;
			margin: 0;

			@include mq(mobile){
				justify-content: initial;
			}
		}

		@include m(checkbox){
			color: $blue;
			font-family: $font-family-secondary-regular !important;
			font-weight: normal;
			font-size: 12px;
			line-height: 20px;
		}

		@include m(column-left){
			width: 49%;
			float: left;

			@include mq(mobile){
				width: 100%;
			}
		}

		@include m(column-right){
			float: right;
			width: 49%;

			@include mq(mobile){
				width: 100%;
			}
		}
	}

	@include e(submit){
		width: 90%;
		display: flex;

		input[type="submit"]{
			background-color: $red;
			color: $white;
			width: 282px;
			height: 48px;
			border: 0;
			font-family: $font-family-terciary !important;
			padding-bottom: 0;

			@include mq(mobile){
				width: 100%;
			}
		}


	}

	input[type="checkbox"]{
		width: auto;
		margin-right: 8px;

	}

	@include e(wf-pass){
		background: url(../images/pass.svg) no-repeat center center;
		background-size: 3%;
		background-position: right;
		background-position-x: 98%;
		background-position-y: 8%;
		position: relative;
	}
}


