// Font weights

$font-weight-thin: 100;
$font-weight-ultralight: 200;
$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;
$font-weight-semibold: 600;
$font-weight-heavy: 900;

// Fonts
@include fontFace('TrimPoster', '../fonts/subset-TrimPoster-Slender', normal, normal);
@include fontFace('TrimPosterLacky', '../fonts/subset-TrimPoster-Lanky', normal, normal);
@include fontFace('LyonTextBold', '../fonts/subset-LyonTextApp-Bold', normal, bold);
@include fontFace('LyonTextRegular', '../fonts/subset-LyonTextApp-Regular', normal, normal);
@include fontFace('BarlowSemiCondensed', '../fonts/subset-BarlowSemiCondensed-Bold', normal, normal);



// =============================
//   Font variables
//==============================

$font-family-terciary: "BarlowSemiCondensed", sans-serif;
$font-family-primary: "TrimPoster", sans-serif;
$font-family-primary-lacky: "TrimPosterLacky", sans-serif;
$font-family-secondary-bold: "LyonTextBold", sans-serif;
$font-family-secondary-regular: "LyonTextRegular", sans-serif;

$base-font-size: 16px;
$base-line: 24px;
$browser-context: 16;