.c-tarjeta {
	background-color:#FFFCF9;
	padding-top: 30px;
	@include e(content) {
		max-width: 950px;
		margin: auto;
		padding-bottom: 50px;

		@include mq(mobile){
			padding-bottom: 24px;
		}
	}

	@include e(title){
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-family: $font-family-primary-lacky;
		font-weight: 500;
		line-height: normal;
		font-size: 72px;
		letter-spacing: -0.448px;
		color: $red;
		margin: 0;

		@include m(font){
			font-family: $font-family-primary;
		}

		@include mq(mobile){
			font-size: 42px;
			text-align: center;
			letter-spacing: -0.250731px;
		}
	}

	@include e(description){
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: $font-family-secondary-bold;
		line-height: 22px;
		font-size: 17px;
		text-align: center;
		color: $blue;
		margin-top: 50px;
		@include m(regular){
			font-family: $font-family-secondary-regular;
		}

		@include mq(mobile){
			max-width: 90%;
			font-size: 15px;
			font-family: $font-family-secondary-regular;
			margin: 0 auto;
		}
	}


}


